@use '../abstracts' as *;

// 그리드 각 페이지 적용 
#Dashboard{
    .main__card{
        grid-template-columns: minmax(0, 1fr) 520px;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "col01 col02"
        "col01 col04"
        "col03 col04"
        "col03 col04"
        "col05 col04";
        .col01 { grid-area: col01; }
        .col02 { grid-area: col02; }
        .col03 { grid-area: col03; }
        .col04 { grid-area: col04; }
        .col05 { grid-area: col05; }
    }
}


// 대시보드
.kpi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 14px;
        padding: 10px 10px;
        border: 1px solid #e5e8ee;
        border-radius: 10px;
        background: #fff;
        transition: box-shadow .2s ease, transform .15s ease;

        &:hover {
            box-shadow: 0 6px 16px rgba(0, 0, 0, .06);
            transform: translateY(-2px);
        }
    }

    &__icon {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: grid;
        place-items: center;
        background: #f3f5f8;
        .ico {
            width: 22px;
            height: 22px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__label {
        display: block;
        text-align: right;
        font-size: 15px;
        color: #888888;
        margin-bottom: 15px;
    }

    &__value {
        display: block;
        font-size: 24px;
        font-weight: 700;
        color: #111;
        text-align: right;
        span {
            font-size: 15px;
            font-weight: 500;
            margin-left: 4px;
            color: #111111;
        }
    }

    // 상태별 컬러
    &__item--all{
        .kpi__icon {
            background: #e0e8f0;
            .ico{
                @include icon(16px);
                background-image: url('@/assets/images/icon/active-all-ico.png');
            }
        } 
        .kpi__value{
            color: #074d88;
        }
    }

    &__item--danger{
        .kpi__icon {
            background: #fdefee;
            .ico{
                @include icon(16px);
                background-image: url('@/assets/images/icon/active-unstable-ico.png');
            }
        } 
    }

    &__item--warn{
        .kpi__icon {
            background: #fcefdb;
            .ico{
                @include icon(16px);
                background-image: url('@/assets/images/icon/active-default-ico.png');
            }
        } 
    }

    &__item--info{
        .kpi__icon {
            background: #e2eefa;
            .ico{
                @include icon(16px);
                background-image: url('@/assets/images/icon/active-info-ico.png');
            }
        } 
    }
}

.report-stat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        padding: 14px 18px;
        border: 1px solid #e2e5eb;
        border-radius: 12px;
        background: #fff;
        transition: box-shadow .2s ease, transform .15s ease;
        &:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, .06);
            transform: translateY(-2px);
        }
    }

    &__icon {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        background: #eef2f6;
        display: grid;
        place-items: center;
        &.blue{
            background: #074d88;
        }
        .ico {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            &.ico-chart-up{
                @include icon(22px);
                background-image: url('@/assets/images/icon/report-all-ico.png');
            }
            &.ico-bar{
                @include icon(22px);
                background-image: url('@/assets/images/icon/report-quarter-ico.png');
            }
            &.ico-pie{
                @include icon(22px);
                background-image: url('@/assets/images/icon/report-half-ico.png');
            }
            &.ico-calendar{
                @include icon(22px);
                background-image: url('@/assets/images/icon/report-year-ico.png');
            }
        }
    }

    &__label {
        display: block;
        font-size: 15px;
        color: #6b7280;
        margin-bottom: 4px;
        text-align: right;
    }

    &__value {
        font-size: 24px;
        font-weight: 700;
        color: #111;
        &.blue{
            color:#074d88;
        }
        span {
            font-size: 15px;
            font-weight: 500;
            margin-left: 4px;
            color: #111;
        }
    }
}

.activity-list {
    display: grid;
    gap: 12px;
    overflow-y: auto;
}

.activity-item {
    display: flex;
        align-items: flex-start;
    gap: 14px;
    padding: 14px 16px;
    border: 1px solid #e6eaf0;
    border-radius: 14px;
    background: #fff;
    transition: box-shadow .2s ease, transform .15s ease;

    &:hover {
        box-shadow: 0 6px 14px rgba(0, 0, 0, .06);
        transform: translateY(-2px);
    }


    &__content {
        flex: 1;
        min-width: 0;
    }

    &__title {
        font-size: 17px;
        font-weight: 600;
        color: #222;
        margin-bottom: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__meta {
        font-size: 15px;
        color: #868e96;
    }

    &__time {
        flex-shrink: 0;
        font-size: 15px;
        color: #868e96;
    }
}

// ====== responsive ======
@media (max-width: 1200px) {
    .main__card {
        grid-template-columns: 1fr !important;
        grid-template-areas: none !important;
        grid-auto-flow: row !important; 
        .card{
            grid-area:auto !important;
        }
    }

    .card--full {
        grid-column: auto;
    }
}

@media (max-width: 900px) {
    .app-body {
        grid-template-columns: 1fr;
    }

}