@use '../abstracts' as *;

// 아이콘 mixin 정의

.ico-more{
    @include icon(8px);
    background-image: url('@/assets/images/icon/Link-arrow.png');
}
.ico-refresh{
    @include icon(14px);
    background-image: url('@/assets/images/icon/refresh-ico.png');
}
.ico-calendar{
    @include icon(20px);
    background-image: url('@/assets/images/icon/calrendar-ico.png');
}
.ico-file{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-file.png');
}
.ico-sel-file{
    @include icon(16px);
    background-image: url('@/assets/images/icon/file-sel-ico.png');
}
.ico-analysis{
    @include icon(18px);
    background-image: url('@/assets/images/icon/analysis-ico.png');
}
.ico-trash{
    @include icon(16px);
    background-image: url("@/assets/images/icon/ico-red-del.png");
}
// 재생 아이콘
.ico-play {
    @include icon(16px);
    background-image: url("@/assets/images/icon/play-ico.png");
}
.ico-processing{
    @include icon(17px);
    background-image: url("@/assets/images/icon/processing-ico.png");  
}
// 다운로드 아이콘
.ico-download {
    @include icon(16px);
    background-image: url("@/assets/images/icon/white-down-ico.png");
}

.ico-whitedownload {
    @include icon(16px);
    background-image: url("@/assets/images/icon/ico-white-download.png");
}

// 이미지 아이콘
.ico-image {
    @include icon(16px);
    background-image: url("@/assets/images/icon/blue-img-ico.png");
}

// 검색 아이콘
.ico-search {
    @include icon(16px);
    background-image: url('@/assets/images/icon/search-ico.png');
    filter: brightness(200%);
}

// 클라우드 아이콘 (파일 업로드)
.ico-cloud {
    @include icon(34px);
    background-image: url('@/assets/images/common/file-upload.png');
}

// 체크 아이콘
.ico-create {
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-create.png');
}
.ico-data-save{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-save.png');
}
.ico-blueadd{
    @include icon(16px);
    background-image: url('@/assets/images/icon/blue-add-ico.png');
}
.ico-greendownload{
    @include icon(16px);
    background-image: url('@/assets/images/icon/green-down-ico.png');
}
.ico-report{
    @include icon(16px);
    background-image: url('@/assets/images/icon/report-ico.png');
}
.paging-arrow-next{
    @include icon(16px);
    background-image: url('@/assets/images/icon/paging-arrow-next.png');
}
.paging-arrow-prev{
    @include icon(16px);
    background-image: url('@/assets/images/icon/paging-arrow-prev.png');
}