@use '../abstracts' as *;

// 아이콘 mixin 정의

.ico-more{
    @include icon(8px);
    background-image: url('@/assets/images/icon/Link-arrow.png');
}
.ico-refresh{
    @include icon(14px);
    background-image: url('@/assets/images/icon/refresh-ico.png');
}
.ico-calendar{
    @include icon(20px);
    background-image: url('@/assets/images/icon/calrendar-ico.png');
}
.ico-file{
    @include icon(16px);
    background-image: url('@/assets/images/icon/ico-file.png');
}
.ico-sel-file{
    @include icon(16px);
    background-image: url('@/assets/images/icon/file-sel-ico.png');
}
.ico-analysis{
    @include icon(18px);
    background-image: url('@/assets/images/icon/analysis-ico.png');
}
.ico-trash{
    @include icon(16px);
    background-image: url("@/assets/images/icon/ico-red-del.png");
}
// 재생 아이콘
.ico-play {
    @include icon(16px);
    background-image: url("@/assets/images/icon/play-ico.png");
}
.ico-processing{
    @include icon(17px);
    background-image: url("@/assets/images/icon/processing-ico.png");  
}
// 다운로드 아이콘
.ico-download {
    @include icon(16px);
    background-image: url("@/assets/images/icon/white-down-ico.png");
}

.ico-whitedownload {
    @include icon(16px);
    background-image: url("@/assets/images/icon/ico-white-download.png");
}

// 이미지 아이콘
.ico-image {
    @include icon(16px);
    background-image: url("@/assets/images/icon/blue-img-ico.png");
}

// 검색 아이콘
.ico-search {
    @include icon(16px);
    background-image: url('@/assets/images/icon/search-ico.png');
    filter: brightness(200%);
}

// 클라우드 아이콘 (파일 업로드)
.ico-cloud {
    @include icon(48px);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM4IDM0SDIyQzE3LjU4IDM0IDE0IDMwLjQyIDE0IDI2QzE0IDIxLjU4IDE3LjU4IDE4IDIyIDE4QzIyLjY2IDEyLjY2IDI3LjI2IDggMzMgOEMzOC43NCA4IDQzIDExLjI2IDQzIDE3QzQ3LjQyIDE3IDUwIDIwLjU4IDUwIDI1QzUwIDI5LjQyIDQ2LjQyIDMzIDQyIDMzSDM4VjM0WiIgZmlsbD0iI0QwRDdERSIvPgo8L3N2Zz4K');
}

// 체크 아이콘
.ico-check {
    @include icon(16px);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjMzIDMuMzNDMTMuNzI0IDMuNzI0IDEzLjcyNCA0LjI3NiAxMy4zMyA0LjY2N0w2LjMzIDExLjY2N0M1LjkzOSAxMi4wNTcgNS4zOTQgMTIuMDU3IDUuMDAzIDExLjY2N0wyLjY3IDkuMzMzQzIuMjc2IDguOTM5IDIuMjc2IDguMzg3IDIuNjcgOC4wQzMuMDYxIDcuNjEgMy42MTMgNy42MSA0LjAwMyA4TDUuNjY3IDkuNjY3TDEyIDMuMzNDMTIuMzkxIDIuOTM5IDEyLjk0MyAyLjkzOSAxMy4zMyAzLjMzWiIgZmlsbD0iI0ZGRiIvPgo8L3N2Zz4K');
}
