// 탭 네비게이션
.tab--btn__nav{
    gap: 0;
    margin-bottom: 0;
    position: relative;
    border-bottom: 1px solid #d1d5dc;
        
    .tab--item {
        flex: 1;
        padding: 14px 24px;
        border: none;
        background: #e0e0e0;
        font-size: 19px;
        font-weight: 500;
        cursor: pointer;
        display: inline-block;
        color: #999;
        transition: all 0.2s ease;
        position: relative;
        margin-bottom: -1px; // 구분선 위로 올리기
        border-radius: 8px 8px 0 0;
        min-width: 150px;
        &:hover:not(.active) {
            background: #e8e8e8;
            color: #666;
        }
        
        &.active {
            background: #1F4E79;
            color: #fff;
            z-index: 1;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
        }
        
        // 비활성화 상태
        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

// ====== 탭 패널 ======
.tab-panel {
    display: none;
    margin-top: 30px;
    
    &.active {
        display: block;
    }
}
