<!-- 파일 업로드 모달 -->
<div class="modal" id="fileUploadModal">
    <div class="modal-dialog">
        <div class="modal-header">
            <span>파일 업로드</span>
            <button type="button" class="modal-close" aria-label="닫기"></button>
        </div>
        <div class="modal-content">
            <!-- 카테고리 필터 -->
            <div class="modal-filter">
                <div class="modal-filter__row">
                    <button type="button" class="modal-filter__btn active" data-category="satellite" data-value="ALOS-2">ALOS-2</button>
                    <button type="button" class="modal-filter__btn" data-category="satellite" data-value="Landsat">Landsat</button>
                    <button type="button" class="modal-filter__btn" data-category="satellite" data-value="Sentinel-1">Sentinel-1</button>
                    <button type="button" class="modal-filter__btn" data-category="satellite" data-value="Sentinel-2">Sentinel-2</button>
                    <button type="button" class="modal-filter__btn" data-category="satellite" data-value="TerraSAR-X">TerraSAR-X</button>
                </div>
                <div class="modal-filter__row">
                    <button type="button" class="modal-filter__btn active" data-category="location" data-value="백두산">백두산</button>
                    <button type="button" class="modal-filter__btn" data-category="location" data-value="한라산">한라산</button>
                    <button type="button" class="modal-filter__btn" data-category="location" data-value="울릉도">울릉도</button>
                </div>
            </div>

            <!-- 파일 업로드 영역 -->
            <div class="file-upload-zone">
                <div class="file-upload-zone__icon">
                    <i class="ico ico-cloud"></i>
                </div>
                <p class="file-upload-zone__text">파일을 이곳에 드래그하거나 클릭하여 업로드</p>
                <p class="file-upload-zone__info">지원 형식 : ZIP (최대 100MB)</p>
                <input type="file" id="fileUploadInput" class="file-upload-zone__input" accept=".zip" multiple>
                <label for="fileUploadInput" class="btn btn--file-select">
                    <i class="ico ico-sel-file"></i>
                    <span>파일선택</span>
                </label>
            </div>

            <!-- 업로드된 파일 리스트 -->
            <div class="file-upload-list">
                <ul class="data-list" id="uploadedFileList">
                    <!-- 동적으로 추가됨 -->
                </ul>
            </div>

            <!-- 등록 버튼 -->
            <div class="modal-actions">
                <button type="button" class="btn btn--primary btn--large">
                    <i class="ico ico-check"></i>
                    <span>등록</span>
                </button>
            </div>
        </div>
    </div>
</div>
