<!-- 업로드 이력 모달 -->
<div class="modal" id="uploadHistoryModal">
    <div class="modal-dialog modal-dialog--upload-history">
        <div class="modal-header">
            <span>업로드 이력</span>
            <button type="button" class="modal-close" aria-label="닫기"></button>
        </div>
        <div class="modal-content">
            <div class="modal-body-inner">
                <div class="form-tbl" style="--column-count: 4;">
                    <div class="table-header">
                        <div class="table-cell__row">
                            <div class="table-cell">파일명</div>
                            <div class="table-cell">업로드 일시</div>
                            <div class="table-cell">파일크기</div>
                            <div class="table-cell">다운로드</div>
                        </div>
                    </div>
                    <div class="table-body">
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2021_01.CSV</span></div>
                            <div class="table-cell">2024-01-15 10:30</div>
                            <div class="table-cell">2.3MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2021_02.CSV</span></div>
                            <div class="table-cell">2024-01-14 09:22</div>
                            <div class="table-cell">1.8MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2021_03.CSV</span></div>
                            <div class="table-cell">2024-01-13 14:15</div>
                            <div class="table-cell">2.1MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2021_04.CSV</span></div>
                            <div class="table-cell">2024-01-12 11:08</div>
                            <div class="table-cell">2.0MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2022_01.CSV</span></div>
                            <div class="table-cell">2024-01-11 16:42</div>
                            <div class="table-cell">2.4MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2022_02.CSV</span></div>
                            <div class="table-cell">2024-01-10 08:55</div>
                            <div class="table-cell">1.9MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2022_03.CSV</span></div>
                            <div class="table-cell">2024-01-09 13:20</div>
                            <div class="table-cell">2.2MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2022_04.CSV</span></div>
                            <div class="table-cell">2024-01-08 10:33</div>
                            <div class="table-cell">2.1MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2023_01.CSV</span></div>
                            <div class="table-cell">2024-01-07 15:18</div>
                            <div class="table-cell">2.5MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                        <div class="table-cell__row">
                            <div class="table-cell"><span class="form-tbl__link">EDM_백두산_2023_02.CSV</span></div>
                            <div class="table-cell">2024-01-06 09:41</div>
                            <div class="table-cell">1.7MB</div>
                            <div class="table-cell"><button type="button" class="btn btn--excel-download btn--small"><i class="ico ico-greendownload"></i><span>엑셀 다운로드</span></button></div>
                        </div>
                    </div>
                </div>
                {{> paging}}
            </div>
        </div>
    </div>
</div>
